*/1 * * * * flock -n archive.lock /home/archiveteam/archive.sh
*/1 * * * * flock -n bloom.lock /home/archiveteam/bloom.sh
0 0 */1 * * flock -n clpmove.lock python3 movefiles.py -e clp -d /home/archiveteam/CAH/clipped
10 0 */1 * * flock -n hshmove.lock python3 movefiles.py -e hsh -d /home/archiveteam/CAH/hashes
@reboot python3 /home/archiveteam/dashboard.py &